language: java
jdk: openjdk8

script:
  - ./gradlew clean jar

after_success:
  #- echo 'testing coming soon'
  - ./gradlew test
  - ./gradlew jacocoTestReport
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

  - ./gradlew test jacocoTestCoverageVerification

deploy:
  provider: script
  script: echo 'WIP'
  on:
    tags: true
    all_branches: true
