language: java

jdk:
  - oraclejdk8
  - oraclejdk9
  - openjdk8
  
./gradlew clean jar

echo 'testing coming soon-'

script:
  # Run ANSIBLE checks
  # - ANSIBLE0008: Disabled for use of sudo warnings (will fix later)
  # - ANSIBLE0008: Disabled for use of sudo warnings - to address
  # - ANSIBLE0011: Disabled for all tasks which should be named
  - find vagrant/provision -name "*.yml" -exec ansible-lint -x ANSIBLE008,ANSIBLE0011  {} +
  # - ANSIBLE0012: Disabled (should not change if nothings needs doing) - to address
  # - ANSIBLE0013: Disabled - few uses of shell commands - to address
  - find vagrant/provision -name "*.yml" -exec ansible-lint -x ANSIBLE008,ANSIBLE0011,ANSIBLE0012,ANSIBLE0013  {} +
