sudo: required
language: java
jdk: oraclejdk8
dist: trusty

env:
  - COVERAGE=0.5 TARGET=ui
  - COVERAGE=0.5 TARGET=service/cart
  - COVERAGE=0.5 TARGET=service/user
  - COVERAGE=0.39 TARGET=repository/order
  - COVERAGE=0.5 TARGET=repository/cart
  - COVERAGE=0.5 TARGET=repository/product
  - COVERAGE=0.31 TARGET=repository/user

install:
  - "./gradlew clean jar"

script:
  - "COVERAGE=${COVERAGE} ./gradlew -p ./monolithic/$TARGET check"

deploy:
  - provider: script
    script: echo "WIP"
    on:
      all_branches: true
