language: java

jdk: 
 - oraclejdk8
 - oraclejdk9
 
env: 
  - COVERAGE=0.5 .gradlew -p ./monolithic/ui check
  - COVERAGE=0.5 .gradlew -p ./monolithic/service/cart check
  - COVERAGE=0.5 .gradlew -p ./monolithic/service/user check

  - COVERAGE=0.35 .gradlew -p ./monolithic/repository/order check
  - COVERAGE=0.5 .gradlew -p ./monolithic/repository/cart check
  - COVERAGE=0.5 .gradlew -p ./monolithic/repository/product check
  - COVERAGE=0.33 .gradlew -p ./monolithic/repository/user check

global:
  - secure: xxxxxxxxxxxxx
  - secure: xxxxxxxxxxxxx

install: 
 - "./gradlew clean jar"
 
echo `testing coming soon`

script:
  - ./gradlew test

after_success:
  - ./gradlew jacocoTestReport
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

before _deploy:
  - COVERAGE=$COVERAGE ./gradlew test jacocoTestCoverageVerification

deploy:
 - provider: script
   script: echo "WIP"
   script: bash -c "echo \"${DOCKER_PASSWORD}" | docker login --username \"${DOCKER_LOGIN}\" --password-stdin"
