sudo: required
language: java
dist: trusty
jdk: oraclejdk8

install:
  - "./gradlew clean jar"

script:
  - "./gradlew test"

after_success:
  - "./gradlew jacocoTestReport"
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}

before_deploy:
  - "COVERAGE=$COVERAGE ./gradlew test jacocoTestCoverageVerification"

deploy:
  - provider: script
    script: echo "WIP"
    on:
      all_branches: true