dist: trusty
language: java
jdk:
  - oraclejdk8
  - oraclejdk9
env:
  - COVER=0.5 CHECK=./monolithic/ui
  - COVER=0.5 CHECK=./monolithic/service/cart
  - COVER=0.5 CHECK=./monolithic/service/user
  - COVER=0.3 CHECK=./monolithic/repository/order
  - COVER=0.5 CHECK=./monolithic/repository/cart
  - COVER=0.5 CHECK=./monolithic/repository/product
  - COVER=0.3 CHECK=./monolithic/repository/user

install:
  - ./gradlew clean jar

script:
  - COVERAGE=0.3 ./gradlew check
  - ./gradlew jacocoTestReport
  - find . -name jacocoTestReport.csv | xargs cat | awk -F ',' '{print $3" "$4" "$5}'
  - COVERAGE=$COVER ./gradlew -p $CHECK check

before_deploy:
  - COVERAGE=$COVERAGE_THRESHOLD ./gradlew check jacocoTestCoverageVerification
  - bash -c "echo \"${DOCKER_PASSWORD}\" | docker login --username \"${DOCKER_USERNAME}\" --password-stdin"

deploy:
 - provider: script
   on:
     all_branches: true
   script: echo "WIP"
