language: java
jdk: oraclejdk9

script: 
  - ./gradlew clean jar

stages: 
  - test
  - check

jobs:
  include:
    - stage: test
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/ui check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/service/cart check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/service/user check
      script: - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

    - stage: check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/repository/order check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/repository/cart check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/repository/product check
      script: COVERAGE=0.5 ./gradlew -P ./monolithic/repository/user check